<h1 id="webTitle">{{ title }}</h1>

<div id="mainContentContainer">

  <div id ="friendPanel" class="mainSidePanel">
    <div id="addFriendPanel" class="cardPanel">
      <h2>Add friend:</h2>
      <form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
        <label for="userName">Name: </label>
        <input type="text" name="name" ngModel>
        <br>

        <button type="submit"> Add friend </button>
      </form> 
    </div>

    <div id="friendListPanel" class="cardPanel">
      <h2>My Friend Group</h2>
      <ul id="userList" *ngFor="let user of users">
        <b class="friendName">{{ user.name }}</b>, current balance: 
        <span [ngClass]="user.debt<=0  ? 'friendDebtPositive' : 'friendDebtNegative'">{{ -user.debt }}€</span>
      </ul>
    </div>
  </div>

  <div id ="paymentPanel" class="mainSidePanel">
    <div id="addPaymentPanel" class="cardPanel">
      <h2>Create new payment:</h2>
      <form [formGroup]="paymentForm" (ngSubmit)="createPayment()">

        <label for="description">Payment description: </label>
        <input type="text" formControlName="description"> 
        <div *ngIf="paymentForm.get('description')?.touched" class="errorMsgs, alert">
          <div *ngIf="paymentForm.get('description')?.hasError('required')">
            Description is required.
          </div>
          <div *ngIf="paymentForm.get('description')?.hasError('minlength')">
            Description must be at least 3 characters long.
          </div>
        </div>
        <br>

        <label for="price">Amount / Price: </label>
        <input type="number" min="0.01" step="any" formControlName="price"> 
        <div *ngIf="paymentForm.get('price')?.touched" class="errorMsgs, alert">
          <div *ngIf="paymentForm.get('price')?.hasError('required')">
            Price is required.
          </div>
          <div *ngIf="paymentForm.get('price')?.hasError('min')">
            Price must be more than 0.
          </div>
        </div>
        <br>

        <label for="payerId">Paid by: </label>
        <select formControlName="payerId">
          <option hidden selected="true" value="">Select who's paying...</option>
          <option *ngFor="let user of users; let i = index" [ngValue]="user.id">{{user.name}}</option>
        </select>
        <div *ngIf="paymentForm.get('payerId')?.touched" class="errorMsgs, alert">
          <div *ngIf="paymentForm.get('payerId')?.hasError('required')">
            Payer user is required.
          </div>
        </div>

        <br><br>
        <button type="submit"> Create new payment </button>
      </form> 
    </div>

    <div id="paymentListPanel" class="cardPanel">
      <h2>Payment list</h2>
      <ul id="paymentList" class="paymentListItem" *ngFor="let payment of payments">
        <b class="paymentDescription">{{ payment.description }}</b> <br>
        Amount: <span class="paymentPrice">{{ payment.price }}€</span> <br>
        Payed by <b class="payerName">{{ payment.payerName }}</b> on <b>{{ payment.paymentDate }}</b>
      </ul>
    </div>
  </div>

</div>